# Flask
SECRET_KEY=genera_una_clave_larga_y_aleatoria_aqui

# Credenciales del desarrollador
DEV_USER=dev_master
DEV_PASS_HASH=genera_con_werkzeug_generate_password_hash

# Token de registro de profesores
MASTER_TOKEN=TU-TOKEN-SECRETO-AQUI

# Contraseña de reset de emergencia
RESET_DEFAULT_PASS=CambiarEsto123!

# Modo debug (true solo en desarrollo)
FLASK_DEBUG=false

# Rutas (si las mueves a .env)
DATABASES_FOLDER=datos
USERS_DB_PATH=usuarios.db